[Unit]
Description=Run auto-update weekly

[Timer]
# Every Sunday at 4:00 AM
OnCalendar=Sun *-*-* 04:00:00
Persistent=true
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
